/* Main Page SLideshow */
#slideshow { 
	margin-top: 50px;
    padding: 10px;
    width: 100%;
    /*box-shadow: 0 0 20px rgba(0,0,0,0.4); */
} 

#slideshow div {
	margin: auto auto;
	text-align: center;
}


